__pycache__/BridgeOpsBuilder.cpython-39.pyc
__pycache__/test_main.cpython-39.pyc
src/__pycache__/__init__.cpython-39.pyc
src/__pycache__/BridgeOpsBuilder.cpython-39.pyc
src/__pycache__/Comp.cpython-39.pyc
src/__pycache__/GlobalData.cpython-39.pyc
src/__pycache__/GobalData.cpython-39.pyc
src/__pycache__/OpsObject.cpython-39.pyc
src/__pycache__/Paras.cpython-39.pyc
src/__pycache__/Part.cpython-39.pyc
src/__pycache__/UtilTools.cpython-39.pyc
.vscode/c_cpp_properties.json
.vscode/keybindings.json
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
.idea/.gitignore
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/XXX.iml
.idea/inspectionProfiles/profiles_settings.xml
1.py
test.py
__BridgeOpsBuilder.__
temp.py
